#ctx {
    position: relative;
}
/***************************************************************
* Start: Notebook
***************************************************************/
#notebook{
    background:#eddba8;
    height:600px;
    width:250px;
    position:fixed;
    top: 1%;
    left: 810px;
    padding: 30px;
    margin: 0px;
}
.notebookTable {
    border: 1px solid #dedede;
    background-color: #fff;	
}
.notebookTable td {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    border-bottom: 1px dotted #ccc;
    text-indent: 10px;  
}
.notebookLabel {
    background-color: #fff;
    font-family: courier, monospace;
    color: black;
    border: none;
    margin-left: 10px;
    text-align: left;
}
.notebookCategoryHeader {
    color: black; text-align: center;
    border: 1px solid #dedede;
}
/***************************************************************
* End: Notebook
***************************************************************/
/***************************************************************
* Start: Suspect Line Up
***************************************************************/
makeSuggestionDiv{
    width: 710; 
    height: 600;
    border: 1px solid #000000;
}
.lineUpTable {
    border-spacing:0;	
    position:relative;
    top: -8%;
    left: 2%;  
}
.lineUpTable td{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    float: left;
    margin: none; 
    padding: 0 !important; 
}		
#s1, #s2, #s3 , #s4, #s5, #s6{
    display: none;
    float: left;
}
.sLabel img{
    border-spacing:0; 
    height: 150px;
    margin: none; 
    padding: 0 !important; 
    float: left;
    filter: gray;
    filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
}
#s1:hover + label > img, #s2:hover + label > img,#s3:hover + label > img ,#s4:hover + label > img ,#s5:hover + label > img ,#s6:hover + label > img  {
    filter: none;
    filter: grayscale(0%);  
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0%);
}
#s1:checked + label > img, #s2:checked + label > img, #s3:checked + label > img, #s4:checked + label > img, #s5:checked + label > img, #s6:checked + label > img {
    filter: none;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0%);	  
}
.lineUpTable div {
    display: none;
    position: absolute;
    left: 25%;
    bottom: 0;
    right:15%;
    height: 23px; 
    background: black;
    color: #fff;
    overflow:hidden;
    font-size: 12px;
    font-family:"Courier New", Courier;
    text-align: center;
    padding: 5px;
}
.lineUpTable td:hover, td:hover > div {
    display: block;
    padding: none; 
    filter: none;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0%);
}
/***************************************************************
* End: Suspect Line Up
***************************************************************/